<div class="container">
    <table>
        <tr>
            <td>naam:</td>
            <td>{{parking.description}}</td>
        </tr>
        <tr>
            <td>adres:</td>
            <td>{{parking.address}}</td>
        </tr>
        <tr>
            <td>aantal plaatsen:</td>
            <td>{{parking.totalCapacity}}</td>
        </tr>
        <tr>
            <td>aantal vrije plaatsen:</td>
            <td>{{parking.parkingStatus.availableCapacity}}</td>
        </tr>
    </table>
</div>
<button><a href=''>back</a></button>
